### LOOPS

In [6]:
for temp in [1,2,3,4,5]:
    print(temp)

1
2
3
4
5

In [8]:
HB= "Happy birthday"
for i in range (5):
    print(HB)

Happy birthday
Happy birthday
Happy birthday
Happy birthday
Happy birthday

In [24]:
a= int(input("Enter the natural number: "))
for a in range(a):
     print(a**2)

Enter the natural number:  8

0
1
4
9
16
25
36
49

In [22]:
a= int(input("Enter the natural number: "))
for i in range(1,11):
    print(a ,"x", i, "=" ,i*a)

Enter the natural number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [42]:
a= 2
b= 3
c= 4
for times in range(10):
     print(f"{a} * {times+1} = {a*(times+1)}")
     
for times in range(9):
    print(f"{b} * {times+1} = {b*(times+1)}")

for times in range(8):
    print(f"{c} * {times+1} = {c*(times+1)}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

In [43]:
start= int(input("Enter when we want to create the table: "))
end=  int(input("Till when we want to create the table: "))
times= int(input("How many times you want to print: "))

for table in range (start, end):
    for temp in range(times):
        print(f"{table} * {temp+1} = {table* (temp+1)}")
    times -=1

Enter when we want to create the table:  2
Till when we want to create the table:  5
How many times you want to print:  10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

### Dictionaries

In [45]:
biodata= {"name": "Hassaan",
         "age": 22,
         "weight": 64}

In [48]:
biodata.pop("age")

22

In [49]:
biodata

{'name': 'Hassaan', 'weight': 64}

In [50]:
biodata["gender"]="Male"

In [51]:
biodata

{'name': 'Hassaan', 'weight': 64, 'gender': 'Male'}

In [55]:
biodata.popitem()

('gender', 'Male')

In [57]:
biodata

{'name': 'Hassaan', 'weight': 64}

In [60]:
biodata.setdefault("CNIC")

In [61]:
biodata

{'name': 'Hassaan', 'weight': 64, 'CNIC': None}

In [62]:
biodata.setdefault("CNIC", 655)

In [63]:
biodata

{'name': 'Hassaan', 'weight': 64, 'CNIC': None}

In [66]:
biodata.update(name= "Hisham")

In [67]:
biodata

{'name': 'Hisham', 'weight': 64, 'CNIC': None}

 ### Task

 #### List comprehension

In [69]:
L= [i**2 for i in range(1,8,2)]
L

[1, 9, 25, 49]

#### Dictionaries comprehension

In [70]:
lst1= {"name", "age", "gender"}
lst2= {"Hassaan", "22", "Male"}

In [79]:
Biodata={}
for temp in zip(lst1, lst2):
    Biodatatemp[0])= temp[1]
Biodata

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3959333878.py, line 3)